{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <nav class="navbar-expand navbar-light">
            <div class="container-fluid d-flex justify-content-between border-bottom border-info">
                <div class="p-3">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mr-auto"><a class="nav-link" href="{% url 'donations' %}">Donate Now</a></li>
                    </ul>
                </div>
                <div class="p-2">
                    <a href="{% url 'index' %}"><img class="navbar-brand" src="{% static 'img/qlogo.png' %}" width="50" height="60"></a>
                </div>
                <div class="p-3">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mr-auto"><a class="nav-link" href="#">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 p-4">
                    <p class="p-2">© 2018 katingQuanta</p>
                </div>
                <div class="col-sm-12 col-md-6 p-3">
                    <div class="row text-right">
                        <div class="col-12">
                            <img class="img-fluid logo" src="{% static 'img/walogo.png'%}">
                            <img class="img-fluid logo" src="{% static 'img/linelogo.png'%}">
                            <img class="img-fluid logo" src="{% static 'img/telegramlogo.png'%}">
                        </div>
                        <div class="col-12">
                            <p>0857 73100 876</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    <style>
        .logo {
            height:3rem;
        }
    </style>
</html>