{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="py-5 text-center bg-light" style="	background-size: cover;	background-position: top left;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto col-md-6 col-10 bg-white p-5" style=" box-shadow: 0px 0px 4px  black;">
          <h1 class="mb-4">Register</h1>
          <form action="" method="POST" class="text-dark">
            <div class="form-group"> {% csrf_token %} {{form}} </div>
            <div class="form-group mb-3">
              </div> <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

