{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<center><div class="container-fluid">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Thank you for your donation! Have a nice day.</h5>
    <br>
    <h5 class="card-title">Here is your donation receipt:</h5>
    <br>
    <div class="card">
      <div class="card-body">
        {% for i in confirm %}
        <div class="container-fluid">
          <p>Name : {{i.fullname}}</p>
          <p>Email : {{i.email}}</p>
          <p>Amount : {{i.amount}}</p>
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
      <a href="{% url 'story' %}">
      <button type="button" class="btn btn-primary btn-lg btn-block">Back to Home</button>
      </a>
    </div>
  </div>
</div></center>
{% endblock %}
