{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Donation Total</h5>
      <p class="card-text">Enter the amount you want to donate</p>
      <form id="form" method="POST" action="{% url 'savedonation' %}">
	        {% csrf_token %}
          {{ savedonation }}
          <br>
          <a href="{% url 'confirmation' %}">
          <input type="submit"  class="btn btn-primary" value="submit"></input>
          </a>
        </form>
      </div>
    <br>
  </div>
</div>
{% endblock %}
