{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron-fluid p-4 border-bottom border-info">
    <div class="container">
        <h1 class="display-4">Hello! </h1>
        <p class="h5">Choose a campaign you want to help</p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
                {% for i in news %}
                <div class="col-sm-12 col-md-4">
                <div class="card border-info mx-auto m-4" style="width:17rem">
                    <img class="card-img-top" src="{{ i.picture }}">
                    <div class="card-body">
                        <p class="lead">{{ i.program }}</p>
                        <p class="card-text">{{ i.description }}</p>
                        <div class="card-body-fluid text-center">
                            <a href="{% url 'story' i.program %}" class="btn btn-info">Donate</a>
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}